@import 'style.css';

#mock-app {
  output {
    background-color: black;
    border-radius: .2rem;
    color: white;
    display: block;
    font-size: xx-large;
    min-width: 10rem;
    min-height: 1rem;
    padding: 3rem 1rem;
    text-align: center;

    &[ data-ext-state = pause ] {
      outline: 3px dotted yellow;
    }
  }

  button {
    font-size: larger;
    padding: .5rem 1rem;
  }

  label {
    border: 1px solid gray;
    border-radius: .2rem;
    padding: .6rem;
  }
}

body {
  max-width: 34rem;
}
