output {
  background-color: black;
  border-radius: .2rem;
  color: white;
  display: block;
  font-size: x-large;
  min-width: 10rem;
  min-height: 1rem;
  padding: 1.3rem;
  text-align: center;

  &[ data-ext-state = pause ] {
    outline: 3px solid darkorange;
  }
}

button {
  font-size: larger;
  padding: .5rem 1rem;
}

body {
  background-color: #f8f8f8;
  color: #333;
  margin: auto;
  max-width: 30rem;
  padding: 0 1rem;
}

* {
  outline-offset: .2rem;
  text-underline-offset: .2rem;
}
