sead-player {
  background-color: #eee;
  border: 1px solid #ddd;
  display: block;
  min-height: 300px;

  &[ data-ext-pause = true ] {
    outline: 3px solid darkorange;
  }

  &::part(label) {
    background-color: #fafafa;
    border: 1px solid silver;
    display: inline-block;
    padding: .5rem .2rem;
  }
}

::part(select),
::part(button) {
  font-size: .95rem;
  padding: .2rem .6rem;
}

label {
  background-color: #eee;
  border: 1px solid silver;
  display: inline-block;
  padding: .5rem .2rem;
}

h1 {
  font-size: 1.8rem;
}

main {
  margin: 2rem 0;
}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 44rem;
  padding: 0 1rem;
}

* {
  outline-offset: .2rem;
}
